mixin row(data)
    each val in data
        unless val.propertyType === undefined
            if val.propertyType === "utility"
                div(id=val.name, class=val.color, onclick=`showUtilityInfo("${val.name.slice(9)}")`)
                    .property-symbol
                        !=(Array.isArray(val.symbol) ? val.symbol.reduce(((sum, elem) => sum + "&#x" + elem + ";"), "") : ("&#x" + val.symbol + ";"))
                    .sub
                        =val.subtext
            else if val.propertyType === "transport"
                div(id=val.name, class=val.color, onclick=`showTransportInfo("${val.name.slice(9)}")`)
                    .property-symbol
                        !=(Array.isArray(val.symbol) ? val.symbol.reduce(((sum, elem) => sum + "&#x" + elem + ";"), "") : ("&#x" + val.symbol + ";"))
                    .sub
                        =val.subtext
            else
                div(id=val.name, class=val.color, onclick=`showPropertyInfo("${val.name.slice(9)}", "${val.color}", ${val.subtext}, ${val.improvement}, ${val.fee0}, ${val.fee1}, ${val.fee2}, ${val.fee3}, ${val.fee4}, ${val.fee5})`)
                    .property-symbol
                        !=(Array.isArray(val.symbol) ? val.symbol.reduce(((sum, elem) => sum + "&#x" + elem + ";"), "") : ("&#x" + val.symbol + ";"))
                    .sub
                        =val.subtext
        else
            div(id=val.name, class=val.color, onclick="hidePropertyInfo()")
                .property-symbol
                    !=(Array.isArray(val.symbol) ? val.symbol.reduce(((sum, elem) => sum + "&#x" + elem + ";"), "") : ("&#x" + val.symbol + ";"))
                .sub
                    =val.subtext

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Emojiopoly
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", type="text/css", href="css/style.css")
    body
        #main-container
            .side-panel#player-list
                .player.current-turn
                    .player-icon &#x1F602;
                    .player-info
                        .player-name Chuzzy
                        .player-cash &#x1F4B7;1500 (Assets: 1500)
                        .player-location HOTDOG
                .player
                    .player-icon &#x1F62E;
                    .player-info
                        .player-name Choosty
                        .player-cash &#x1F4B5;230 (Assets: 890)
                        .player-location UNDER ARREST
                .player
                    .player-icon &#x1F914;
                    .player-info
                        .player-name Crusty
                        .player-cash &#x1F4B5;1 (Assets: 1)
                        .player-location POLICE CAR
                #game-log
                    ul
                        li Choosty is under arrest!
                        li Choosty is under arrest!
                        li Choosty is under arrest!
                        li Choosty is under arrest!
                        li Choosty is under arrest!
                        li Choosty is under arrest!
                        li Choosty is under arrest!
                        li Choosty is under arrest!
                        li Choosty is under arrest!
            #board
                #top
                    .corner#parking(onclick="hidePropertyInfo()") &#x1F698;
                    +row(top)
                    .corner#gotojail(onclick="hidePropertyInfo()") &#x1F46E;
                #center
                    #left
                        +row(left)
                    #center-space(onclick="hidePropertyInfo()")
                    #right
                        +row(right)
                #bottom
                    .corner#jail(onclick="hidePropertyInfo()") &#x1F693;
                    +row(bottom)
                    .corner#go(onclick="hidePropertyInfo()") &#x1F4B0;
                .player-token#player-Chuzzy &#x1F602;
                .player-token#player-Choosty &#x1F62E;
                .player-token#player-Crusty &#x1F914;

            .side-panel#game-info
                #button-wrapper
                    button#manage-button(onclick="manageProperties()") &#x1F528; Manage
                    button#trade-button(onclick="showTradeWindow()") &#x1F504; Trade
                    button#bankrupt-button(onclick="confirmBankruptcy()") &#x1F4B8; Bankrupt
                
                #selected-property.invisible
                    #prop-name
                    table
                        thead
                            tr
                                th Cost
                                th#cost-purchase
                        tbody
                            tr
                                td#fee-0-text Fee
                                td#fee-0
                                    b 
                            tr
                                td#fee-1-text &#x1F44D;
                                td#fee-1 
                            tr
                                td#fee-2-text &#x1F44D;&#x1F44D;
                                td#fee-2 
                            tr
                                td#fee-3-text &#x1F44D;&#x1F44D;&#x1F44D;
                                td#fee-3 
                            tr 
                                td#fee-4-text &#x1F44D;&#x1F44D;&#x1F44D;&#x1F44D;
                                td#fee-4 
                            tr 
                                td#fee-5-text &#x1F44C;
                                td#fee-5 
                            tr 
                                td#cost-improve-text Cost per &#x1F44D;/&#x1F44C;
                                td#cost-improve 
                            tr 
                                td Disabled value
                                td#disabled-value 
                            tr
                                td Cost to re-enable
                                td#cost-reenable 
        script(src="bundle.js")